<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Warehouse</title>
    <link rel="stylesheet" href="./css/app.min.css/app.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="container header__container">
            <a href="/" class="header__logo">
                <img src="assets/images/dest/logo.svg" alt="logo">
            </a>
            <nav class="nav">
                <ul class="nav__menu">
                    <li class="nav__menu-item">
                        <a href="#" class="nav__menu-link">About</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="#" class="nav__menu-link">Help</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="#" class="nav__menu-link">Features</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="#" class="nav__menu-link">Signup</a>
                    </li>
                </ul>
            </nav>
            <button class="btn-reset header__btn">Request Demo</button>
        </div>
    </header>
    <!-- Header -->
    <!-- intro -->
    <section class="intro">
        <div class="container intro__container">
            <h1 class="intro__title">Save your data storage here.</h1>
            <p class="intro__text text">Data Warehouse is a data storage area that has been
                tested for security, so you can store your data here
                safely but not be afraid of being stolen by others.</p>
            <button class="intro__btn">Learn more</button>
        </div>
    </section>
    <!-- intro -->
    <!-- description -->
    <section class="descr">
        <div class="container">
            <div class="descr__wrapper">
                <div class="descr__wrapper-img">
                    <img src="assets/images/dest/description.png" alt="description">
                </div>
                <div class="descr__wrapper-content">
                    <h2 class="descr__title title">We are a high-level data storage bank</h2>
                    <p class="descr__text">The place to store various data that you can access at any time through the
                        internet and where you can carry it.
                        This very flexible storage area has a high level of security. To enter into your own data you
                        mustenter the password that you created when you registered in this Data Warehouse. </p>
                </div>
            </div>
        </div>
    </section>
    <!-- description -->
    <!-- features -->
    <section class="features">
        <div class="container features__wrapper">
            <h2 class="features__title title">Features</h2>
            <p class="features__text text">Some of the features and advantages that we provide for those of you who
                store data in this Data Warehouse.</p>
            <div class="features__content">
                <ul class="features__list">
                    <li class="features__item">
                        <div class="features__content">
                            <h3 class="features__content-title">Search Data</h3>
                            <p class="features__content-text">Don’t worry if your data is very large, the Data Warehoue
                                provides a search engine, which is useful for making it easier to find data effectively
                                saving time.</p>
                            <button class="feaatures__content-btn btn-reset">Learn more</button>
                        </div>
                    </li>
                    <li class="features__item">
                        <div class="features__content">
                            <h3 class="features__content-title">24 Hours Access</h3>
                            <p class="features__content-text">Access is given 24 hours a full morning to night and
                                meet again in the morning, giving you comfort when
                                you need data when urgent.</p>
                            <button class="feaatures__content-btn btn-reset">Learn more</button>
                        </div>
                    </li>
                    <li class="features__item">
                        <div class="features__content">
                            <h3 class="features__content-title">Print Out</h3>
                            <p class="features__content-text">Print out service gives you convenience if someday
                                you need print data, just edit it all and just print it.</p>
                            <button class="feaatures__content-btn btn-reset">Learn more</button>
                        </div>
                    </li>
                    <li class="features__item">
                        <div class="features__content">
                            <h3 class="features__content-title">Security Code</h3>
                            <p class="features__content-text">Data Security is one of our best facilities. Allows for
                                your files
                                to be safer. The file can be secured with a code or password that
                                you created, so only you can open the file.</p>
                            <button class="feaatures__content-btn btn-reset">Learn more</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- features -->
    <!-- testimonials -->
    <section class="testimonials">
        <div class="testimonials__container">
            <div class="testimonials__container-inner">
                <h2 class="testimonials__container-title title">Testimonials</h2>
                <div class="testimonials__container-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-slide-inner">
                                <img src="assets/images/dest/user-1.jpg" alt="John testimonial" class="user-avatar">
                                <div class="swiper-slide-content">
                                    <h3 class="user-name">John Fang</h3>
                                    <span class="user-prof">wordfaang.com</span>
                                    <p class="user-text text">Suspendisse ultrices at diam lectus nullam.
                                        Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar
                                        aenean nam laoreet nulla.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-inner">
                                <img src="assets/images/dest/user-2.jpg" alt="Jeny testimonial" class="user-avatar">
                                <div class="swiper-slide-content">
                                    <h3 class="user-name">Jeny Doe</h3>
                                    <span class="user-prof">wordfaang.com</span>
                                    <p class="user-text text">Suspendisse ultrices at diam lectus nullam.
                                        Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu
                                        pulvinaraenean nam laoreet nulla.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-inner">
                                <img src="assets/images/dest/user-3.jpg" alt="John testimonial" class="user-avatar">
                                <div class="swiper-slide-content">
                                    <h3 class="user-name">William</h3>
                                    <span class="user-prof">Web Designer</span>
                                    <p class="user-text text">Suspendisse ultrices at diam lectus nullam.
                                        Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu
                                        pulvinaraenean nam laoreet nulla.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-inner">
                                <img src="assets/images/dest/user-1.jpg" alt="John testimonial" class="user-avatar">
                                <div class="swiper-slide-content">
                                    <h3 class="user-name">John Fang</h3>
                                    <span class="user-prof">wordfaang.com</span>
                                    <p class="user-text text">Suspendisse ultrices at diam lectus nullam.
                                        Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar
                                        aenean nam laoreet nulla.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-inner">
                                <img src="assets/images/dest/user-2.jpg" alt="Jeny testimonial" class="user-avatar">
                                <div class="swiper-slide-content">
                                    <h3 class="user-name">Jeny Doe</h3>
                                    <span class="user-prof">wordfaang.com</span>
                                    <p class="user-text text">Suspendisse ultrices at diam lectus nullam.
                                        Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu
                                        pulvinaraenean nam laoreet nulla.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-inner">
                                <img src="assets/images/dest/user-3.jpg" alt="John testimonial" class="user-avatar">
                                <div class="swiper-slide-content">
                                    <h3 class="user-name">William</h3>
                                    <span class="user-prof">Web Designer</span>
                                    <p class="user-text text">Suspendisse ultrices at diam lectus nullam.
                                        Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu
                                        pulvinaraenean nam laoreet nulla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonials -->
    <!-- demo -->
    <section class="demo">
        <div class="container">
            <div class="demo__content">
                <h2 class="demo__title title">Try for free!</h2>
                <span class="demo__text">Get limited 1 week free try our features!</span>
            </div>
            <div class="demo__buttons">
                <button class="more">Learn more</button>
                <button class="demo">Request demo</button>
            </div>
        </div>
    </section>
    <!-- demo -->
    <!-- footer -->
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__info">
                <div class="footer__info-title">
                    <a href="/">
                        <img src="assets/images/dest/logo.svg" alt="logo">
                    </a>
                    <h3 class="footer__logo-title">DataWarehouse</h3>
                </div>
                <span class="footer__info-text">Warehouse Society, 234</span>
                <span class="footer__info-address">Bahagia Ave Street PRBW 29281</span>
                <a href="mailto:info@warehouse.project
                " class="footer__info-mail">info@warehouse.project
                </a>
                <a href="tel:1-232-3434" class="footer__info-phone">1-232-3434 (Main)</a>
            </div>
            <div class="footer__about">
                <h4 class="footer__about-title footer__title">About</h4>
                <ul class="footer__about-list">
                    <li class="footer__about-item">
                        <a href="#" class="footer__about-link">Profile</a>
                    </li>
                    <li class="footer__about-item">
                        <a href="#" class="footer__about-link">Features</a>
                    </li>
                    <li class="footer__about-item">
                        <a href="#" class="footer__about-link">Careers</a>
                    </li>
                    <li class="footer__about-item">
                        <a href="#" class="footer__about-link">DW News</a>
                    </li>
                </ul>
            </div>
            <div class="footer__help">
                <h4 class="footer__help-title footer-title">Help</h4>
                <ul class="footer__help-list">
                    <li class="footer__help-item"><a href="#" class="footer__help-link">Support</a></li>
                    <li class="footer__help-item"><a href="#" class="footer__help-link">Sign up</a></li>
                    <li class="footer__help-item"><a href="#" class="footer__help-link">Guide</a></li>
                    <li class="footer__help-item"><a href="#" class="footer__help-link">Reports</a></li>
                    <li class="footer__help-item"><a href="#" class="footer__help-link">Q&A</a></li>
                </ul>
            </div>
            <div class="footer__socials">
                <h4 class="footer__socails-title footer-title">Socail Media</h4>
                <ul class="footer__socials-list">
                    <li class="footer__socials-item"><a href="#" class="footer__socials-link"><img
                                src="assets/images/dest/footer-facebook.svg" alt="facebook"></a></li>
                    <li class="footer__socials-item"><a href="#" class="footer__socials-link"><img
                                src="assets/images/dest/footer-twitter.svg" alt="twitter"></a></li>
                    <li class="footer__socials-item"><a href="#" class="footer__socials-link"><img
                                src="assets/images/dest/footer-instagram.svg" alt="instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer__copy container">
            <div class="footer__copy-left">
                <small class="footer__copy-rights">© Datawarehouse™, 2020. All rights reserved.</small>
                <small class="footer__copy-regNumber">Company Registration Number: 21479524.</small>
            </div>
            <div class="footer__vopy-button">
                <button class="footer__copy-message">
                    <img src="assets/images/dest/footer-message.svg" alt="send message button">
                </button>
            </div>
        </div>
    </footer>
    <!-- footer -->


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>

</html>